<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Github-Viewer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4CA6AE72F1799ED0095ECFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CA6AFD2F1799F00095ECFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CA6B072F1799F00095ECFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
